# lets expore sequential data types

In [9]:
name = 'generative Ai'
type(name)

str

In [10]:
topics =['python', 'machine learning', 'deep learning', 'nlp', 'reinforcement learning']
type(topics)

list

In [11]:
tags=('Ai','ML','Alm')
type(tags)

tuple

In [8]:
range (1,10)
type(range)

type

In [12]:
for index in range(1,5):
    
    print(index)

1
2
3
4

In [13]:
list (range (1,5))

[1, 2, 3, 4]

In [14]:
tuple(range(1,5))

(1, 2, 3, 4)

# Slicing in python : for all the sequence type we can use slicing
# '''
 # [<start-index>:<stop-index>;<step>]
 # default value start <start-index> =0
 # <step> =1
 # <stop-index>=length -1
 # '''

In [19]:
numbers=[11,12,13,14,15,16,17,18,19,20]
numbers[0]
numbers[1]
numbers[::]
numbers[::2]

[11, 13, 15, 17, 19]

In [ ]:
numbers[::-1]

In [20]:
name ='python'
name[::-1]

'nohtyp'

# :: meaning it will take start to end [11,12,13,14,15,16,17,18,19,20]
# :: 2 means take first then skip one and take value of every 2 means 11,13,15,17,19
# :: -1 it will be complete reverse print [20,19,18,17,16,15,14,13,12,11]
# :: -1 'nohtyp'

In [17]:
colors=['red','green','blue','black','white']
print(colors[0])
print(colors[-1])
print(colors[1:3])
print(colors[:2])
print(colors[1:4])
print(colors[2:])
print(colors[::2])

red
white
['green', 'blue']
['red', 'green']
['green', 'blue', 'black']
['blue', 'black', 'white']
['red', 'blue', 'white']

In [21]:
# find length of sequence
print(numbers)
len (numbers)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

10

In [22]:
name= 'python'
len(name)

6

In [24]:
#in and not in
'p' in 'python'

True

In [25]:
'z' in 'python'

False

In [28]:
'q' not in 'python'

True

In [27]:
11 in numbers

True

In [29]:
# combining sequences
n1= [1,2,3]
n2=[4,5,6]
n1+n2

[1, 2, 3, 4, 5, 6]

In [31]:
n1 * 2  
# it will repeat the sequence 2 times

[1, 2, 3, 1, 2, 3]

In [4]:
lastname='sheth'
for s in lastname:
    print(lastname)

s
h
e
t
h

In [30]:
lastname=['sheth','shah']
for patel in lastname:
    print(lastname)

['sheth', 'shah']
['sheth', 'shah']

In [37]:
index = range (1,20)
for index in range(1,20,2):
    print(index)

1
3
5
7
9
11
13
15
17
19

In [40]:
def is_prime (number):
    """   
    this function will check if the number is prime or not
Args:
    number (int) : number passed
Returns:
    bool: True if number is prime, False otherwise
"""
    return True

In [45]:
prime_number=[]
for number in range (1,20):
    if is_prime(number):
        prime_number.append(number)

In [ ]:
#one liner code pythonic way
[number for number  in range of (50,101) if is prime(number)]