In [ ]:
# Sequential data types

In [ ]:
name = 'Generative AI'
type(name)

str

In [ ]:
topics = ['python', 'RAG', 'agent']

In [ ]:
type (topics)

list

In [ ]:
tags = ('AI', 'LLM')
type (tags)

tuple

In [ ]:
list(range(1,5)) #list can be changed

[1, 2, 3, 4]

In [ ]:
# Type casting
tuple(range(1,5)) #tuple cannot be changed

(1, 2, 3, 4)

In [ ]:
# Indexing

In [ ]:
colors = ['red', 'green', 'blue', 'white', 'black']
print(colors[0])
print(colors[-1])
print(colors[4])

red
black
black

In [ ]:
print(colors[-2])
print(colors[-5])

white
red

In [ ]:
# SLICING
'''
[<start-index> : <stop-index> : <step>]
#default values
start-index = 0
stop-index = len(sequence)
step = 1
'''

In [ ]:
numbers = [11,21,31,41,51,61,71,81,91]

numbers [::] #will display all numbers

[91, 81, 71, 61, 51, 41, 31, 21, 11]

In [ ]:
numbers [::2] #will display every second number

[11, 31, 51, 71, 91]

In [ ]:
numbers [1::2] #will display every second number starting from 1

[21, 41, 61, 81]

In [ ]:
numbers [::-1]  #will display all numbers in reverse order

[91, 81, 71, 61, 51, 41, 31, 21, 11]

In [ ]:
#Paliondrome

text = "madam"
if text == text[::-1]:
    print('The text is a palindrome')

In [ ]:
# find lenght of sequence
name ='Pyhton'
len (name)

6

In [ ]:
# combining sequences
n1 = [1,2,3]
n2 = [4,5,6]

In [ ]:
n1 + n2

[1, 2, 3, 4, 5, 6]

In [ ]:
n2+n1

[4, 5, 6, 1, 2, 3]

In [ ]:
n1*2

[1, 2, 3, 1, 2, 3]

In [ ]:
n2-n1 #not possible

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
n2/n1 #not possible

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [ ]:
n1+3 #not possible

NameError: name 'n1' is not defined

In [ ]:
name= 'Python'
type(name)


student = ['a', 'b', 'c', 'd']
for i in student:
    print(i)

a
b
c
d

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10